*.out
*.o
*.d
.vscode
megaphone
phonebook
zombie
zombieHorde
brain
violence
sed
harl
harlFilter
fixed
bsp
claptrap
scavtrap
fragtrap
diamondtrap
animal
materia
bureaucrat
intern
convert
serializer
base
template
iter
array
easyfind
span
mutantstack